@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  color: #f4f4f5; /* zinc-100 */
  background-color: #09090b; /* zinc-950 */
}

/* Tối ưu hóa Custom Scrollbar mỏng, sang trọng */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #09090b; /* zinc-950 */
}

::-webkit-scrollbar-thumb {
  background: #27272a; /* zinc-800 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; /* zinc-700 */
}

/* Hiệu ứng AI xoay chậm lung linh */
.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
